# Terraform
.terraform/
*.tfstate
*.tfstate.*
!*.tfvars.example
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log

# Terraform plan files
*.tfplan
*.tfplan.json

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# CLI config
.terraformrc
terraform.rc
